:root {
  --primary: #041e42;
  --secondary: #c3cbdb;
}
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  height: 100 vh;
}

ul {
  text-decoration: none;
  list-style: none;
}

.container {
  display: flex;
}
/* center calculator */
main {
  height: 100%;
  justify-content: center;
  margin-top: 100px;
}

/* stacks calculator rows */
.calculator-body {
  flex-direction: column;
  justify-content: center;
  padding: 25px;
  /* background-color: var(--primary); */
}

/* makes list rows rows */
.button-row {
  flex-direction: row;
  justify-content: space-around;
}

/* calculator styling */

.calculator-body {
  background-color: var(--primary);
  border-radius: 10px;
}

#logo {
  color: #fff;
  text-align: center;
}
#screen {
  text-align: right;
  background-color: #fff;
  border-radius: 5px;
  margin-bottom: 5px;
}

.button {
  border: solid 2px #000;
  background-color: var(--secondary);
  color: #000;
  padding: 10px 20px;
  border-radius: 5px;
  margin-top: 5px;
  margin-bottom: 5px;
}

.button:hover {
  cursor: pointer;
}
